#diasporaChangemakersLogo002-1-1{
	position:absolute;
	left:-3703px;
	top:0px;
	width:721px;
	height:651px;
}

#diasporaChangemakersLogo002-1-2{
	position:absolute;
	left:-2962px;
	top:0px;
	width:721px;
	height:651px;
}

#diasporaChangemakersLogo002-1-3{
	position:absolute;
	left:-2222px;
	top:0px;
	width:721px;
	height:651px;
}

#diasporaChangemakersLogo002-1-4{
	position:absolute;
	left:-1481px;
	top:0px;
	width:721px;
	height:651px;
}

#diasporaChangemakersLogo002-1-5{
	position:absolute;
	left:-741px;
	top:0px;
	width:721px;
	height:651px;
}

#diasporaChangemakersLogo002-1-6{
	position:absolute;
	left:0px;
	top:0px;
	width:721px;
	height:651px;
}

