#weAreThePlayMakersLogo{
	position:absolute;
	left:0px;
	top:0px;
	width:721px;
	height:800px;
}

#rsaLogo{
	position:absolute;
	left:740px;
	top:1px;
	width:721px;
	height:800px;
}

#Layer-5{
	position:absolute;
	left:0px;
	top:-1428px;
	width:721px;
	height:800px;
}

#Layer-6{
	position:absolute;
	left:741px;
	top:-1428px;
	width:721px;
	height:800px;
}

#Layer-7{
	position:absolute;
	left:1481px;
	top:-1428px;
	width:721px;
	height:800px;
}

#Layer-8{
	position:absolute;
	left:2222px;
	top:-1428px;
	width:721px;
	height:800px;
}

#diasporaChangemakersLogo006-1{
	position:absolute;
	left:2960px;
	top:-1428px;
	width:721px;
	height:800px;
}

#Layer-10{
	position:absolute;
	left:3702px;
	top:-1427px;
	width:721px;
	height:800px;
}

