#weAreThePlayMakersLogo{
	position:absolute;
	left:-3634px;
	top:778px;
	width:582px;
	height:583px;
}

#diasporaChangemakersLogo002-1-1{
	position:absolute;
	left:-3633px;
	top:34px;
	width:582px;
	height:583px;
}

#diasporaChangemakersLogo002-1-2{
	position:absolute;
	left:-2893px;
	top:34px;
	width:582px;
	height:583px;
}

#diasporaChangemakersLogo002-1-4{
	position:absolute;
	left:-2152px;
	top:34px;
	width:582px;
	height:583px;
}

#diasporaChangemakersLogo002-1-7{
	position:absolute;
	left:-1412px;
	top:34px;
	width:582px;
	height:583px;
}

#diasporaChangemakersLogo002-1-5{
	position:absolute;
	left:-671px;
	top:34px;
	width:582px;
	height:583px;
}

#diasporaChangemakersLogo002-1-6{
	position:absolute;
	left:69px;
	top:34px;
	width:582px;
	height:583px;
}

#rsaLogo{
	position:absolute;
	left:-2892px;
	top:778px;
	width:582px;
	height:583px;
}

